extends ../../layouts/default.pug

block main
    h1 Trang danh danh sách tài khoản
    //- div #{record}
    .card.mb-3  
        .card-header Danh sách
        .card-body 
            .row 
                .col-3 
                    if(1)
                        a(  href=`${prefixAdmin}/accounts/create`
                            class="btn btn-outline-success"
                        ) + Thêm mới
        .card-body 
            .row
            table(class="table table-hover table-sm"
                    checkbox-mutil
                )
                thead 
                    tr 
                        th 
                            input(type="checkbox"
                                    name="checkall"
                                )
                        th STT 
                        th Avatar 
                        th Họ và tên
                        //- th Phân quyền 
                        th Email 
                        th Trạng thái 
                        th Hành động
                tbody
                    if(record.length > 0)
                        each item, index in record 
                            tr
                                td 
                                    input(type="checkbox"
                                            name="id"
                                        )
                                td #{index+1}
                                td 
                                    div()
                                        image(src=item.avatar
                                            alt=item.title
                                            width="50px"
                                        )
                                td #{item.fullName}
                                //- td #{item.role.title}
                                td #{item.email}
                                td
                                    if(1)
                                        if(item.status == "active")
                                            button(
                                                type="button"
                                                class="badge bg-success"
                                                data-status = item.status 
                                                data-id = item.id
                                                button-change-status
                                            ) Hoạt động
                                        else
                                            button(
                                                type="button"
                                                class="badge bg-danger"
                                                data-status = item.status 
                                                data-id = item.id
                                                button-change-status
                                            ) Ngưng hoạn động
                                    else 
                                        if(item.status == "active")
                                            button(
                                                type="button"
                                            ) Hoạt động
                                        else
                                            button(
                                                type="button"
                                                class="badge bg-danger"
                                            ) Ngưng hoạn động
                                td 
                                    if(1)
                                        a(class="btn btn-sm btn-secondary",
                                            href=`${prefixAdmin}/role/detail/${item.id}`
                                        ) Chi tiết 
                                    if(1)
                                        a(class="btn btn-sm btn-warning",
                                            href=`${prefixAdmin}/accounts/edit/${item.id}`
                                        ) Sửa 
                                    if(1)
                                        a(class="btn btn-sm btn-danger",
                                            button-delete 
                                            data-id = item.id
                                        ) Xóa
                    else 
                        th Không có bản ghi nào