extends ../../layouts/default.pug

block main
  // Banner
  section.banner
    h1 Khám phá thế giới âm nhạc
    p Nghe nhạc miễn phí, không giới hạn mọi lúc mọi nơi
    a.btn-start(href="/topics") Bắt đầu nghe

  // Nghệ sĩ nổi bật
  section.artists
    h2 Ca sĩ nổi bật
    .artist-list
      each singer in singers
        .artist
          a(href=``)
            img(src=singer.avatar alt=singer.name)
            p #{singer.fullName}

  // Bài hát nổi bật
  section.featured-songs
    h2 Bài hát nổi bật
    .song-list
      each song in songFeatured
        .song-card
          a(href=`songs/detail/${song.slug}`)
            img(src=song.avatar alt=song.title)
            .song-info
              h4 #{song.title}
              p #{song.singer}
block css 
  link(rel="stylesheet", href="/client/css/home.css")
