extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block css 
    link(rel="stylesheet", href="/css/song-detail.css")
block main 
    .container 
        +box-head(song.title)
        .inner-action 
            div(class="inner-time") <i class="fa-regular fa-clock"></i> 20/10/2024
            div(class="inner-singer") <i class="fa-solid fa-microphone"></i> #{singer.fullName}
            a(class="inner-topic" href=`/songs/${topic.slug}`) <i class="fa-solid fa-music"></i> #{topic.title}
            if(user)
                div(class=user && song.like.includes(user.id) ? "inner-like active" : "inner-like" id-user=user.id) <i class="fa-regular fa-thumbs-up"></i>
                    span #{song.like.length} thích 
                div(class=(user && user.favourite.includes(song.id) ? "inner-favourite active" : "inner-favourite"))  <i class="fa-regular fa-heart"></i> Bài hát yêu thích 
            else 
                div(class="inner-like")  <i class="fa-regular fa-thumbs-up"></i>
                    span #{song.like.length} thích 
                div(class= "inner-favourite")  <i class="fa-regular fa-heart"></i> Bài hát yêu thích 
        .inner-play(dataSong = song dataSinger = singer) 
            div(class="inner-image")
                img(src=song.avatar)
            div(id="aplayer")
        .inner-info 
            .inner-description #{song.description}
            .inner-lyrics !{song.lyrics}
block script 
        
