extends ../../layouts/default.pug
//- include ../../mixins/select-tree.pug

block main 
    h1(class="mb-4") Chỉnh sửa bài hát

    form(
        action=`${prefixAdmin}/songs/edit/${song.id}?_method=PATCH`
        id="form-create-song"
        method='POST'
        enctype="multipart/form-data"
    )
        div(class="form-group mb-4")
            label(for="title") Tên bài hát
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=song.title
                required
            )
        div(class="form-group mb-4")
            label(for="topicId") Chọn chủ đề bài hát
            select(name="topicId" class="form-control" id="topicId")
                each item in topics
                    option(value=item.id selected = (item.id === song.topicName.id)) #{item.title}
        div(class="form-group mb-4")
            label(for="singerId") Chọn ca sĩ
            select(name="singerId" class="form-control" id="singerId")
                each item in singers
                    option(value=item.id selected = (item.id === song.singerName.id)) #{item.fullName}

        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="featured"
                name="featured"
                value="1"
                checked=(song.featured =="1")
            )
            label(
                for="statusActive"
                class="form-check-label"
            ) Nổi bật
            
            
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="featured"
                name="featured"
                value="0"
                checked=(song.featured =="0") 
            )
            label(
                for="statusActive"
                class="form-check-label"
            ) Không nổi bật


        div(class="form-group")
            label(for="description") Mô tả
            textarea(
                type="text"
                class="form-control tiny-mce"
                id="description"
                name="description"
            ) #{song.description}


        div(class="form-group")
            label(for="avatar") Đường dẫn ảnh
            input(
                type="file"
                class="form-control"
                id="avatar"
                name="avatar"
                accept="avatar/*"
                inputImage
            )
            img(
                src=song.avatar
                previewImage
                class="preview-image"
            )
            div(
                class="close-preview"
            ) x

        div(class="form-group")
            label(for="audio") Đường dẫn audio
            input(
                type="file"
                class="form-control"
                id="audio"
                name="audio"
                accept="audio/*"
                inputAudio
            )
            audio(
                src=song.audio
                previewAudio
                class="preview-audio"
                controls
            )
            div(class="close-preview-audio") x

        div(class="form-group")
            label(for="lyrics") Lyrics bài hát
            textarea(
                type="text"
                class="form-control"
                id="lyrics"
                rows=20
                name="lyrics"
            ) #{song.lyrics}     


        div(class="form-group")
            label(for="discountPercentage") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tăng dần"
                min=1
                value=song.position
                requiered
            )  
        
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(song.status=="active")
            )
            label(
                for="statusActive"
                class="form-check-label"
            ) Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="inactive"
                checked=(song.status=="inactive")
            )
            label(
                for="statusActive"
                class="form-check-label"
            ) Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật
            
            