extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
    .container 
        if(songs)
            +box-head(`Kết quả tìm kiếm cho: ${keyword}`)
            .row 
                each song in songs
                    .col-3.mb-3 
                        div(class="song-item")
                            div(class="inner-image")
                                a(href=`/songs/detail/${song.slug}`)
                                    img(src=song.avatar)
                            div(class="inner-content")
                                a(href=`/songs/detail/${song.slug}` class="inner-name") #{song.title}
                                div(class="inner-singer") <i class="fa-solid fa-music"></i> #{song.infoSinger.fullName}
                                div(class="inner-like") <i class="fa-regular fa-thumbs-up"></i> #{song.like.length}
                                div(class="inner-time") <i class="fa-regular fa-clock"></i> Hôm nay
        else
            +box-head("Không tìm thấy kết quả!")