.sider
    ul.menu
        li 
            a(href=`${prefixAdmin}/dashboard`) Tổng quan
        li
            a(href=`${prefixAdmin}/songs`) Danh sách bài hát
        li
            a(href=`${prefixAdmin}/singers`) Danh sách ca sĩ
        li
            a(href=`${prefixAdmin}/topics`) Danh mục chủ đề
        li
            a(href=`${prefixAdmin}/accounts`) Danh sách tài khoản
        li
            a(href=`${prefixAdmin}/role`) Nhóm quyền
        li
            a(href=`${prefixAdmin}/role/permission`) Phân quyền